#pricing-plan{
    padding: 140px 0;
    h2:first-child{
        margin-bottom:70px;
    }
    .pricing-box{
        background: #f8f8f8;
        &:hover .pricing-btn{
            background-color: #2f3340;
            border-color: #2f3340;
        }
        .pricing-img1{
            background-image:url(../img/pricing/pricing1.jpg)
        }
        .pricing-img2{
            background-image:url(../img/pricing/pricing2.jpg)            
        }
        .pricing-img3{
            background-image:url(../img/pricing/pricing3.jpg)            
        }
        .pricing-img{
            position: relative;
            text-align: center;
            color: #ffffff;
            font-family: "Ubuntu",sans-serif;            
            position: relative;                        
            .pricing-img-text{
                position: relative;
            padding: 40px 20px 30px;
            z-index: 1;
                
                // position: absolute;
                // left: 36%;
                // top: 17%;
                
                h4{
                    font-size: 30px;
                    font-weight: 700;
                    color: $green;
                    line-height: 1.2em;
                    margin: 0;
                }
                h3{
                    position: relative;
                    font-size: 65px;
                    color: $link-color;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1em;
                    margin: 0;                    
                    span{
                        font-size: 40px;
                    }
                }
            }
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.65);
                top: 0;
                left: 0;
            }
        }
        .pricing-text{
            color:#777777;
            line-height: 45px;
            margin: 20px 0;
            span{
                color: $green;
            }
        }
        .pricing-btn{
            margin-bottom: 55px;
            transition: all 0.3s;
            padding: 10px 45px;
            border: 2px solid #aaaaaa;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 30px;
            text-transform: uppercase;
            border-radius: 5px;
            font-family: $font-ubuntu;
            color:$link-color;
            width: none;
            display: inline-block;
            background: transparent;
            color: #aaa;    
            cursor: pointer;
            &:hover{
                text-decoration: none;
                color: $link-color;
            }
        }
    }
//     .row{
//      margin-left: -40px; 
//     margin-right: -40px
// }
}
// .myp{
//     padding-left: 40px;
//     padding-right: 40px;
// }

