#services{
    padding: 140px 0;
    .auto-container{
        padding:0 35px;
    }
    div[class*=col]{
        padding: 0;
    }
    .services-text{
        margin-bottom:50px;
        h2{
            margin-bottom: 25px !important;
        }
    }
    .services-item{
        .row{
            padding: 20px 45px;
        }
        // padding: 30px 35px;
        transition: all 0.3s;
        margin-bottom: 40px;
        &:hover{
            box-shadow: 5px 22px 21px rgba(234,234,234,.75);
        }
        .services-item-img{
        position: relative;            
            display: inline-block;
            width: 80px;
            height: 80px;
        }
        .services-item-text{
            padding-left: 10px;
            display: inline-block;
            @media screen and (max-width:1200px) {
                &{
                    text-align: center;
                }
            }
            a{
                color:$dark;
                font-size: 20px;
                font-weight: 500;
                font-family: $font-ubuntu;
                transition: all 0.3s;
                &:hover{
                    text-decoration: none;
                    color:$green;
                }
            }
        }
    }
    
}